aiofiles
aiohttp
aiosignal
aiostream
altair
annotated-types
antlr4-python3-runtime
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
backoff
bcrypt
beautifulsoup4
bleach
blinker
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
comm
contourpy
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
diskcache
distro
duckduckgo-search
effdet
emoji
executing
fastapi
fastembed
fastjsonschema
filelock
filetype
FlashRank
flatbuffers
fonttools
fqdn
frozenlist
fsspec
future
gitdb
GitPython
google-auth
googleapis-common-protos
gpt4all
greenlet
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
hyperframe
idna
importlib-metadata
importlib-resources
iopath
ipykernel
ipython
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
kubernetes
langchain
langchain-core
langchainhub
langdetect
langsmith
lark
layoutparser
llama-index
llama_cpp_python
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
monotonic
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook_shim
numpy
oauthlib
omegaconf
onnx
onnxruntime
openai
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
overrides
packaging
pandas
pandocfilters
parso
pdf2image
pdfminer.six
pdfplumber
pexpect
pikepdf
Pillow
platformdirs
portalocker
posthog
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pulsar-client
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pypdf
pypdfium2
PyPika
pytesseract
python-dateutil
python-dotenv
python-iso639
python-json-logger
python-magic
python-multipart
pytz
PyYAML
pyzmq
qdrant-client
rapidfuzz
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers
sentencepiece
six
smmap
sniffio
socksio
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tabulate
tenacity
terminado
threadpoolctl
tiktoken
timm
tinycss2
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
types-requests
typing-inspect
typing_extensions
tzdata
tzlocal
unstructured
unstructured-inference
unstructured.pytesseract
uri-template
urllib3
uvicorn
uvloop
validators
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
wrapt
yarl
zipp
